@import 'reset.sass'
@import 'frameless.sass'

//Colors

$white: #fff
$yellow: #FFCC00
$lt_gray: #E7E8E7
$md_gray: #999999
$mdrk_gray: #666666
$drk_gray: #333
$hvy_gray: #111

//Typograpy

@font-face 
  font-family: Aliquam
  src: url('fonts/aliquam/Aliquam.ttf')
@mixin aliquam
  font-family: Aliquam
@font-face 
  font-family: CabinCondensed-Regular
  src: url('fonts/cabin-condensed/CabinCondensed-Regular.ttf')
@mixin cabinreg
  font-family: CabinCondensed-Regular

//General

body
  @include cabinreg
  background: $hvy_gray
  color: $md_gray
  font-weight: normal
  font-size: 16px
  a
    text-decoration: none
    color: $yellow
    &:hover
      color: $lt_gray
.button
  display: inline-block
  background: url(images/button_arrow.png) 96% center no-repeat $drk_gray
  padding: 20px
  padding-right: 55px
  border-radius: 15em
  color: $lt_gray
  font-size: 24px
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0,0,0,1)
  &:hover
    color: $md_gray
h1,h2,h3,h4,h5,h6
  @include aliquam
  font-size: 40px
  color: $lt_gray
  margin: 0 0 20px 0
  font-weight: normal
p
  margin: 0 0 20px 0
  line-height: 1.35em
ul, ol
  margin: 0 0 20px 10px
  padding: 0 0 0 10px
  li
    margin: 0 0 10px 0
ul
  list-style: disc outside
ol
  list-style: decimal outside
strong
  font-weight: bold
em
  font-style: italic
input[type="text"]
  background: $mdrk_gray
  border: none
  border-radius: 15em
  padding: 10px
  font-family: inherit
  color: $hvy_gray
  width: 30em
  display: block
  margin-bottom: $gutter
  &:focus
    background: $md_gray
textarea
  background: $mdrk_gray
  border: none
  width: 30em
  color: $hvy_gray
  font-family: inherit
  border-radius: 8px
  padding: 10px
  display: block
  margin-bottom: $gutter
  &:focus
    background: $md_gray
.wrapper
  position: relative
  margin: 0 auto
  padding: 20px 0
  width: $cols16

//Header

#about
  background: url(images/use_your_illusion.png)
  border-top: 5px solid $yellow
  header
    padding: 20px
    padding-top: 0
    white-space: nowrap
    hgroup
      width: $cols6
      h1,h2
        position: absolute
        text-indent: -9999em
    nav
      @include aliquam
      font-size: 24px
      #access
        position: fixed
        z-index: 9
        right: 10%
        top: 20px
        background: $hvy_gray
        margin: 0
        list-style: none
        padding: 
          top: 25px
          bottom: 27px
          left: 35px
          right: 35px
        overflow: hidden
        border-radius: 15em
        li
          display: inline-block
          margin: 0
        a
          color: $lt_gray
          padding: 20px
          &:hover
            border:
              bottom: 5px solid $yellow
            margin-bottom: -5px
    #graphic, #text
      width: $cols8
      vertical-align: middle
      white-space: normal
      display: inline-block
      box-sizing: border-box
    #graphic
      text-align: center
    h3
      font-size: 62px

//Content
#portfolio
  padding: 0 0 40px
  background: linear-gradient(to bottom, #111111 0%, #666666 399px, #111111 45px)
  #carousel_wrap
    position: relative
    width: 100%
    overflow-x: hidden
    height: 20em
    padding: 20px 0
  //Carousel
  #carousel
    margin: 0
    padding: 0
    white-space: nowrap
    position: relative
    li
      display: inline-block
      img
        background: $md_gray
        padding: 10px
        box-shadow: 2px -2px 5px rgba(0,0,0,.75)
        &:hover
          cursor: pointer
      .active
        background: url(images/active_arrow.png) center bottom no-repeat #fff
      article
        display: none
        height: 100%
        position: relative
        white-space: normal
        top: 100%
        width: $cols9
        left: $cols2
      aside
        display: none
  input[type='button'].disabled
    display: none
  input[type='button'].next, input[type='button'].previous
    position: absolute
    top: 100px
    text-indent: -9999em
    width: 100px
    height: 100px 
    border: none
    z-index: 9
  input[type='button'].next
    background: url(images/arrow_right.png) center center no-repeat
    right: 0
    border-radius: 5px 0 0 5px
  input[type='button'].previous
    background: url(images/arrow_left.png) center center no-repeat
    left: 0
    border-radius: 0 5px 5px 0
  #portfolio_info
    width: $cols9
    margin-left: $cols5
    .portfolio-content, .project-specs
      box-sizing: border-box
      display: inline-block
      vertical-align: top
    .portfolio-content
      width: $cols6
      padding-left: $gutter
    aside.project-specs
      width: $cols3
      margin-left: -$cols9

#services
  background: $drk_gray
.contact-info, .content
  display: inline-block
  vertical-align: top
  box-sizing: border-box
.contact-info
  margin-left: $cols2
  width: $cols3
.content
  width: $cols7
  padding-left: 20px
#accordion
  h4
    font-size: 22px
    background: $hvy_gray
    padding: 10px 15px
    color: $md_gray
    border-radius: 15em
    &:hover
      cursor: pointer
    img
      transition: all .2s linear
      margin-right: 10px
    &.open img
      transform: rotate(90deg)
    &.open + article
      display: block
  article
    display: none
    padding-left: 20px

#contact
  .contact-info, .contact-form
    display: inline-block
    vertical-align: top
    box-sizing: border-box
  .contact-form
    width: $cols10
    padding-left: 20px
  .contact-info

//Footer

footer
  text-align: center

//Break Points